body {
    background-color: hsl(0, 0%, 0%);
    display: grid;
    align-items: center; 
    justify-content: center;
    height: 100vh; 
}

.box{
    height: 500px;
    width: 350px;
    background-color: hsl(0, 0%, 20%);
    background-color: white;
    overflow: hidden;
    border-radius: 20px;
    border: 5px solid hsl(0, 0%, 30%);
}

button {
    height: 80px;
    width: 80px;
    margin: 2px;
    border-radius: 50%;
    border: none;
    background-color:hsl(0, 0%, 20%);
    color: ghostwhite;
    font-size: 2rem;
    font-weight: bold;
}

button:hover {
    background-color:hsl(0, 0%, 30%);
    box-shadow: 5px 5px 10px hsl(0, 0%, 30%);
}

button:active {
    background-color: hsl(0, 0%, 50%);
    color: black;
}

.optr {
    background-color: hsl(180, 86%, 61%);
}

.optr:hover {
    background-color: hsl(180, 86%, 81%);
}

.optr:active {
    background-color: hsl(180, 86%, 91%);
}

.clr {
    background-color: hsl(0, 100%, 60%);
}

.clr:hover {
    background-color: hsl(0, 100%, 70%);
}

.clr:active {
    background-color: hsl(0, 100%, 80%);
}

input {
    width: 100%;
    overflow: hidden;
    height: 10rem;
    font-size: 5rem;
    text-align: right;
}